/* CORES */
/*
Azul = #0911D5
Amarelo = #FFFFA5
AmareloClaro = #FFFFCC
Verde = #036930
Vermelho = #D50909
Rosa = #FF9999
Roxo = #9938D1
Preto = #080808
Default = #899d08
*/

#templatemo_footer {
    color: #fff;
	background: #006400 url(images/templatemo_footer.png) top center no-repeat;
}
#templatemo_service_bar {
    color: #fff;
	background: url(images/templatemo_sp_boxVerde.png) no-repeat;
}
#templatemo_service_bar a{
    color: #fff;
}
#templatemo_footer a {
	color: #fff;
}
#templatemo_content_wrapper {
	background: url(images/templatemo_content.png) repeat-y center;
}
#templatemo_banner_wrapper {
	background: #CCFF99;
}
#templatemo_banner {
	background: #CCFF99;
}
#templatemo_service_bar_wrapper {
	background: url(images/templatemo_content.png) repeat-y center;
}
#templatemo_menu {
	background: url(images/templatemo_menu.png) bottom center no-repeat;
}
#templatemo_menu ul li a:hover,  #templatemo_menu ul li .current {
	background: url(images/templatemo_menu_hoverVerde.png) no-repeat top;
}
#templatemo_footer_wrapper {
	background: #E8E8E8;
}