/* CORES */
/*
Azul = #0911D5
Amarelo = #FFFFA5
AmareloClaro = #FFFFCC
Verde = #036930
Vermelho = #D50909
Rosa = #FF9999
Roxo = #9938D1
Preto = #080808
Default = #899d08
*/

#templatemo_footer {
    color: #000;
	background: #FFFFCC url(images/templatemo_footer.png) top center no-repeat;
}
#templatemo_service_bar {
    color: #000;
	background: url(images/templatemo_sp_boxAmareloClaro.png) no-repeat;
}
#templatemo_service_bar a{
    color: #000;
}
#templatemo_footer a {
	color: #000;
}
#templatemo_content_wrapper {
	background: url(images/templatemo_content.png) repeat-y center;
}